body {
  font-family: "Caveat", serif;
  background-color: #971549;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: white;
  font-size: 1em;
}

p {
  color: white;
}

label {
  display: block;
  width: 100px;
  background-color: blue;
}

input {
  width: 470px;
  height: 50px;
}

.name {
  font-family: "Playfair Display", serif;
}

.menu {
  font-family: "Playfair Display", serif;
}
